
.body-container{
        padding-top:73px;
}
.input-group-custom{
    display:block;
}
.generic-button {
    border: 0;
    background-color: #4189c7;
    padding:10px 20px;
    margin:0 auto;
    color:white;
    font-weight:500;
    border-radius:4px;
}
@media(max-width:768px) {
    .body-container {
        padding-top:10px;
    }
    .logo-home {
        display:block;
        float:none;
        padding:10px 0px;
    }
    .navbar-brand {
        height:auto;
    }
}
